.Authenticator-root {
  .qr_grid {
    grid-template-columns: 40% 60%;

    @include mob {
      grid-template-columns: 100%;
    }

    .cell {
      border: 0.5px solid #2e364d;
    }
  }

  .otp-box {
    @apply rounded-2xl text-center;
    height: 128px;
    width: 128px;
    border: 1px solid #ff6529;
    background-color: $dark-blue-two;
    color: white;
    font-size: 56px;

    @include tab {
      @apply rounded-2xl;
      height: 96px;
      width: 96px;
      font-size: 68px;
    }

    @include mob {
      @apply rounded-xl;
      height: 44px;
      width: 44px;
      font-size: 16px;
    }

    &:focus-visible,
    &:focus {
      outline: none;
    }

    &:not(:placeholder-shown) {
      background-color: #ff6529;
    }
  }
}

#root.light {
  .Authenticator-root {
    .otp-box {
      background-color: whitesmoke;

      &:not(:placeholder-shown) {
        background-color: #ff6529;
      }
    }
  }
}
