.dashbord--root {
  .banner-group {
    @apply rounded-[64px];
    overflow: hidden;

    .img-banner {
      @apply inline-block w-full;
    }
  }

  .sign-verify-group {
    .text-duo {
      background: linear-gradient(180deg, rgba(124, 115, 241, 1) 22%, rgba(230, 119, 173, 1) 88%);
      font-size: 148px;
      font-weight: 700;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .grad_border {
      background: linear-gradient(180deg, rgba(124, 115, 241, 1) 22%, rgba(230, 119, 173, 1) 88%);
      height: 12px;
      width: 98px;
    }
    .next-div {
      background: linear-gradient(180deg, rgba(124, 115, 241, 1) 22%, rgba(230, 119, 173, 1) 88%);
      width: 88px;
      height: 88px;
      border-radius: 50%;
    }
  }

  .coin-grid {
    @apply w-full mb-12;

    .grid {
      .card {
        @apply rounded-3xl p-4 relative shadow-2xl overflow-hidden cursor-pointer;
        background-color: $dark-blue-four;

        .icon-btc {
          @apply inline-block mr-2;
          color: $yellow-one;
        }

        .txt-bull {
          @apply flex items-center text-lg;
          color: $green-one;
        }

        .quik-buy {
          font-family: "Roboto", sans-serif;
          bottom: -54px;
          transition: 0.1s ease-in-out;
        }

        &:hover {
          .quik-buy {
            bottom: 0px;
          }
        }
      }
    }
  }

  .transactions-group {
    .btn {
      color: $red-one;
      background-color: $dark-blue-four;
    }

    .tbl {
      thead {
        tr {
          th {
            font-size: 18px;
          }
        }
      }
      tbody {
        tr {
          td {
            font-size: 18px;
            font-weight: normal;
          }
        }
      }
    }
  }
}

#root.light {
  .dashbord--root {
    .coin-grid {
      .grid {
        .card {
          background-color: #fff;
        }
      }
    }
    .transactions-group {
      .btn {
        color: $red-two;
        background-color: #fff;
      }
    }
  }
}
