.Navbar--root {
  padding: 48px;
  width: 100%;

  .left {
    .icon-ham {
      font-size: 32px;
      margin-right: 16px;
    }

    .search-group {
      .txt-search {
        font-size: 22px;
        padding-right: 52px;
      }
      .serch-icon {
        top: 14px;
        right: 12px;
      }
    }
  }

  .right {
    .profile-drp {
      img {
        @apply ring-white;
      }

      .icon-down {
        top: 14px;
        right: -30px;
        color: #dbe1fe;
      }
    }
  }
}

#root.light {
  .Navbar--root {
    .right {
      .profile-drp {
        img {
          @apply ring-black;
        }
        .icon-down {
          color: #1c1f26;
        }
      }
    }
  }
}
