.Quickbuy-root {
  .search-grp {
    @apply relative;

    .txt-search {
      @apply p-3.5 rounded-xl;
      width: 380px;
      background-color: $dark-blue-four;
    }

    .icon-search {
      @apply text-white absolute text-xl top-4 right-4;
    }
  }

  .grid {
    .card {
      @apply rounded-3xl p-4;
      background-color: $dark-blue-four;

      .icon-btc {
        @apply inline-block mr-2;
        color: $yellow-one;
      }

      .txt-bull {
        @apply flex items-center text-lg;
        color: $green-one;
      }

      .txt-amt {
        @apply text-white font-extrabold text-2xl;
      }

      .txt-label {
        @apply text-white text-xs mt-4;
      }

      .action-grp {
        button {
          background-color: #2b2e37;
          padding-top: 12px;
          padding-bottom: 12px;
          color: white;

          &.buy {
            border-right: 0.5px solid #4c4e5a;

            .font-bold {
              color: #f6614e;
            }

            &:hover {
              background-color: #f6614e;
              .font-bold {
                color: white;
              }
            }
          }
          &.sell {
            .font-bold {
              color: #23ae79;
            }

            &:hover {
              background-color: #23ae79;
              .font-bold {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
