.Wallet--root {
  .card-block {
    border: 0.025px solid $dark-blue-three;
    padding: 32px;
    border-radius: 16px;
  }

  .balances {
    .text-muted {
      color: $gray-one;
    }

    .cst-btn {
      &.btn-border {
        border: 0.5px solid white;
        color: white;
        border-radius: 32px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 14px;
        background-color: transparent;
      }
    }

    .balance-margin {
      .icon-circle {
        color: $blue-one;
      }
    }
    .balance-flatspot {
      .icon-circle {
        color: $blue-two;
      }
    }
    .balance-p2p {
      .icon-circle {
        color: $yellow-two;
      }
    }
    .balance-futures {
      .icon-circle {
        color: $green-three;
      }
    }
  }

  .bit-icon {
    color: $yellow-one;
  }

  .green-usd {
    color: $green-two;
    @apply font-bold text-xl;
  }
}
