@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./bootstrap/index.scss";
@import "./modules/Sidebar.scss";
@import "./modules/Navbar.scss";
@import "./modules/Home.scss";
@import "./modules/Wallet.scss";
@import "./modules/Quickbuy.scss";
@import "./modules/Documents.scss";
@import "./modules/History.scss";
@import "./modules/Referral.scss";
@import "./modules/Profile.scss";
@import "./modules/2fa.scss";

#root {
  min-width: 100vw;
  min-height: 100vh;
  @apply flex flex-row justify-start content-start;
}

body {
  background-color: $dark-blue;
}

.Container--root {
  flex-grow: 1;

  .main-container {
    padding-left: 48px;
    padding-right: 48px;
  }
}

.title {
  color: $light-blue-two;
}

.card-container {
  @apply drop-shadow-md;
  background-color: $dark-blue-two;
  border-radius: 18px;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 48px;
  padding-right: 48px;
}
