@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./bootstrap/index.scss";
@import "./modules/Sidebar.scss";
@import "./modules/Navbar.scss";
@import "./modules/Home.scss";
@import "./modules/Wallet.scss";
@import "./modules/Quickbuy.scss";
@import "./modules/Documents.scss";
@import "./modules/History.scss";
@import "./modules/Referral.scss";
@import "./modules/Profile.scss";
@import "./modules/2fa.scss";

#root {
  min-width: 100vw;
  min-height: 100vh;
  background-color: $dark-blue;
}

body {
  * {
    font-family: "Roboto", sans-serif;
  }
}

#root.light {
  background-color: #f5f8fd;
}

.Container--root {
  @apply h-full w-full;
  background-image: url(/images/5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .main-container {
    @apply px-12;
    max-width: 1080px;
    margin: 0 auto;

    @include tab {
      @apply px-4;
      width: 100%;
      margin: 0;
    }

    @include mob {
      @apply px-4;
      width: 100%;
      margin: 0;
    }
  }
}

.card-container {
  @apply drop-shadow-md;
  background-color: $dark-blue-two;
  border-radius: 18px;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 48px;
  padding-right: 48px;

  @include mob {
    padding: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

#root.light {
  .card-container {
    background-color: white;
  }
}
