@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./bootstrap/index.scss";
@import "./modules/Sidebar.scss";
@import "./modules/Navbar.scss";
@import "./modules/Home.scss";
@import "./modules/Wallet.scss";
@import "./modules/Quickbuy.scss";
@import "./modules/Documents.scss";
@import "./modules/History.scss";
@import "./modules/Referral.scss";
@import "./modules/Profile.scss";
@import "./modules/2fa.scss";

#root {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  background-color: $dark-blue;

  * {
    font-family: "Roboto", sans-serif;
  }
}

.Container--root {
  @apply w-full h-full;
  background-image: url("./images/5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .main-container {
    @apply px-12 w-full;
  }
}

.card-container {
  @apply drop-shadow-md;
  background-color: $dark-blue-two;
  border-radius: 18px;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 48px;
  padding-right: 48px;
}
